{% extends "layout.html" %}
{% block body %}

<h1>Register</h1>

<form action="/register" method="post">
    <input autocomplete="off" autofocus name="name" placeholder="Name" required type="text">

    <select>
        <!-- Dropdown menu; 
            dodajemy najpierw nieaktywny placeholder, by nie sugerować żadnej odpowiedzi -->
        <option disable selected>Sport</option>
        <option>Basketball</option>
        <option>Soccer</option>
        <option>Frisbee</option>
    </select>

    <input type="submit" value="Register">
</form>

{% endblock %}