<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>shows</title>
</head>

<body>

    <input autocomplete="off" autofocus placeholder="Query" type="search">

    <ul></ul>

    <script>
        // wybierz element html typu input
        let input = document.querySelector('input');

        // zaczekaj na zdarzenie typu input i uruchom funkcję
        input.addEventListener('input', async function () {

            // ...która wyśle informację na serwer bez przeładowywania strony (fetch)
            // i przypisze odpowiedź do zmiennej response: 
            let response = await fetch('/search?q=' + input.value);

            // Weźmy tekst tej odpowiedzi
            let shows = await response.text();

            // ...i wstawmy do pustej listy punktowanej w tym dokumencie:
            document.querySelector('ul').innerHTML = shows;
        });

    </script>

</body>

</html>