{% extends "layout.html" %}
{% block body %}

<h1>Register</h1>

<form action="/register/" method="post">
    <input autocomplete="off" autofocus name="name" placeholder="Name" required type="text">

    <select name="sport">
        <option disable selected>Sport</option>

        <!-- Tworzymy rozwijaną listę sportów.
             Dla każdego elementu zmiennej sports przekazanej przez app.py
             utwórz element <option>: 
        -->

        {% for sport in sports %}
        <option> {{sport}} </option>
        {% endfor %}

    </select>


    <!-- Gdybyśmy zamiast dropdown chcieli checkboxy albo radio buttons
    należałoby usunąć sekcję <select> i zamiast niej napisać:
    
        {% for sport in sports %}
            <input name="sport" value="{{sport}}" type="checkbox"> {{sport}}
        {% endfor %} 

    ...co należy czytać tak:
    dla każdej pary: klucz (sport) - wartość (element listy sport) 
    utwórz checkbox i podpisz go jako element listy sport.
    Flask rozpozna, że elementy mają zawsze ten sam klucz i połączy całość w listę.
    
    Dla radio buttona wystarczy zmienić type="checkbox" na "radio".
    -->


    <input type="submit" value="Register">
</form>

{% endblock %}