header {
    font-size: small;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    margin-bottom: 5%;
}

footer {
    font-size: small;
    margin-top: 2%;
}

/* id */
#second_paragr {
    color: rgb(0, 190, 190);
}

/* klasa */
.centered {
    text-align: center;
}

/* pseudo-klasa */
p:first-of-type {
    text-indent: 10px;
    font-weight: 600;
}

/* element i 3 pseudoklasy: */
a {
    text-transform: uppercase;
}

a:hover {
    color: rgb(0, 190, 190);
}

/* wszystkie linki zawierające taką frazę, czyli dowolną podstronę z Yale */
a[href*="yale.edu"]:hover {
    color: rgb(189, 129, 0);
}

/* wszystkie linki zawierające dokładnie tę stronę Yale */
a[href="https://www.yale.edu"]:hover {
    color: rgb(88, 189, 0);
}