{% extends "layout.html" %}


{% block head %}

<title>Zapisano</title>

{% endblock %}



{% block body %}

<h1>Zapisani:</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Sport</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for zapisany in zapisani %}
        <tr>
            <td>{{ zapisany["name"] }}</td>
            <td>{{ zapisany["sport"] }}</td>
            <td>
                <form action="/wypisz" method="post">
                    <input name="id" type="hidden" value="{{ zapisany.id }}">
                    <input type="submit" value="Wypisz z zajęć">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}