{% extends "layout.html" %}


{% block title %}
Quoted
{% endblock %}


{% block main %}
<h1>Quoted</h1>


<div class="mt-5 justify-content-center" style="display:inline-block; width: 600px">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                {% for look in lookups.items() %}
                <th>{{ look[0] }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tr>
            {% for look in lookups.items() %}
            <td>{{ look[1] }}</td>
            {% endfor %}
        </tr>
    </table>
</div>


{% endblock %}