{% extends "layout.html" %}

{% block title %}
Change password
{% endblock %}

{% block main %}

<h1>Change password</h1>

<form action="/change_password" method="post">
    <div class="mt-5 mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="old_password"
            placeholder="Old password" required type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password"
            placeholder="New pasword" required type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="confirmation"
            placeholder="Repeat pasword" required type="password">
    </div>
    <input type="submit" value="Change">
</form>

{% endblock %}