<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>shows</title>
</head>

<body>

    <input autocomplete="off" autofocus placeholder="Query" type="text">

    <ul></ul>

    <script>

        let input = document.querySelector('input');
        input.addEventListener('input', async function () {
            let response = await fetch('/search?q=' + input.value);

            // Zamień odpowiedź serwera na listę słowników i zapisz do shows:
            let shows = await response.json();

            // Przygotuj sobie pustą zmienną html, którą będziemy zaraz uzupełniać:
            let html = '';

            // Dla wszystkich pozycji w shows
            for (let id in shows) {

                // przygotuj wyczyszczony tytuł
                let title = shows[id].title.replace('<', '&lt;').replace('&', '&amp;');

                // opakuj go w znaczniki <li> </li> i zapisz w zmiennej html:
                html += '<li>' + title + '</li>';
            }

            // Gotowa zmienna 'html' wygląda tak, jak odpowiedź z serwera w poprzedniej
            // wersji tego pliku. Możemy tak samo wstrzyknąć ją do listy punktowanej:
            document.querySelector('ul').innerHTML = html;
        });

    </script>

</body>

</html>