<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's your name?</title>
</head>

<body>

    <!-- Formularz otwiera ścieżkę .../greetings?name="..."
        Tam parametr zostanie odczytany przez serwer Flaska.

        W formularzu piszę "required", żeby nie dało się wysłać pustego. 
        Ważna uwaga: to tylko wskazówka dla użytkownika. Nie polegamy na tym rozwiązaniu, 
        jako na solidnym zabezpieczeniu, bo HTML łatwo edytować po stronie klienta.
        Wszelkie zabezpieczenia zostawiamy zawsze po stronie serwera.  
    -->
    <form action="/greetings" method="get">
        <input autocomplete="off" autofocus name="name" placeholder="Name" required type="text">
        <input type="submit">

    </form>
</body>

</html>